.logo-container img {
  width: 150px;
  height: auto;
}
.nav ul {
  list-style-type: none;
  display: table;
}

.nav {
  float: right;
}

.nav ul li:first-child {
  padding-left: 0px;
}

.nav li {
  padding-left: 15px;
  display: table-cell;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.nav li a {
  color: #363636;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
  line-height: 64px;
  text-decoration: none;
  -webkit-transition: font-size 0.2s;
  transition: font-size 0.2s;
}
